
// FOOTER

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #121212;
    border-top: solid #D4AF37;
    border-width: 4px;
    height: 60px;
    margin-top: auto;
}


.fa:hover {
    opacity: 0.7;
    color: #D4AF37;
}

footer a:hover {
    animation: shake 0.25s;
}