@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Righteous&display=swap');
@import url('https://fonts.cdnfonts.com/css/qatar2022');                
@import 'keyframes', 'header', 'footer', 'variables';

/* PAGINA GALERIA DE FOTOS*/


.galeria__body {

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(../assets/images/others/partidoshero6.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: bottom;
}

.banner {
    background-color: rgba(14,33,103,0.5);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 4px solid rgb(212,175,55);
    border-right: 4px solid rgb(212,175,55);
    padding: 2vh 0vw;
}

.banner h1 {
    letter-spacing: 3.5vh;
}

.photo_body {
    padding: 10vh 5vw 4vh 5vw;
    height: 100vh;
}

.photo_body h1 {
    color: #D4AF37;
    font-size: 4vh;
}


.img__body{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "foto1 foto1 foto2 foto3 foto4"
        "foto5 foto6 foto6 foto7 foto4";
    justify-items: center;
    align-items: center;
    justify-content: center;
    row-gap: 2%;
    column-gap: 1%;
    height: 90%;
    width: 100%;
    padding-top: 5vh;
}

.foto1 {
    grid-area: foto1;
}


.foto2 {
    grid-area: foto2;
}

.foto3 {
    grid-area: foto3;
}

.foto4 {
    grid-area: foto4;
}

.foto4 img {
    object-position: -180px;
}

.foto5 {
    grid-area: foto5;
}

.foto6 {
    grid-area: foto6;
}

.foto7 {
    grid-area: foto7;
}

.img__body2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "foto1 foto2 foto2 foto2 foto3"
        "foto7 foto7 foto5 foto6 foto6";
    justify-items: center;
    align-items: center;
    justify-content: center;
    row-gap: 2%;
    column-gap: 1%;
    height: 90%;
    width: 100%;
    padding-top: 5vh;
}


.img__body article, .img__body2 article {
    border: 3px solid rgb(212,175,55);
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    margin: 5px;
    overflow: hidden;
}

.img__body article:hover, .img__body2 article:hover {
    box-shadow: 4px 4px 4px grey;
    transform: scale(1.03);
    overflow: hidden;
    z-index: 0;
}


.img__body img, .img__body2 img {
    transition: all 0.5s ease 0s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img__body img:hover, .img__body2 img:hover {
    transform: scale(1.09);
}

.video__body {
    padding: 4vh 5vw 4vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video__body h1 {
    color: #D4AF37;
    font-size: 4vh;
}

.iframes {
    padding: 6vh 4vw 0vh 4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vh;
    align-items: center;
    height: 50vh;
}

.iframes iframe {
    border-radius: 10px;
    border: 3px solid rgb(212,175,55);
    height: 100%;
    width: 80%;
}


@media screen and (min-width: 600px) and (max-width: 1000px){
    
    /* GALERIA */

    .photo_body {
        height: auto;
    }
    
    .photo_body h1, .video__body h1 {
        font-size: 3vw;
    }

    .banner {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner h1 {
        letter-spacing: 1vh;
    }

    .img__body{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4,30vh);
        grid-template-areas:
            "foto7 foto2"
            "foto3 foto4"
            "foto5 foto6"
            "foto1 foto1";
        justify-items: center;
        align-items: center;
        justify-content: center;
        row-gap: 0.5%;
        column-gap: 1%;
        height: 90%;
        width: 100%;
        padding-top: 5vh;
    }

    .img__body2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto);
        grid-template-areas:
            "foto1 foto2"
            "foto3 foto5"
            "foto6 foto7";
        justify-items: center;
        align-items: center;
        justify-content: center;
        row-gap: 1%;
        column-gap: 1%;
        height: 90%;
        width: 100%;
        padding-top: 5vh;
    }
    
    .foto4 img {
        object-position: 0px;
    }

    .img__body article:hover, .img__body2 article:hover {
        box-shadow: none;
        transform: scale(1);
        overflow: hidden;
        z-index: 0;
    }


    .img__body img:hover, .img__body2 img:hover {
        transform: scale(1);
    }

    .iframes {
        padding: 6vh 4vw 0vh 4vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2vh;
        align-items: center;
        height: 70vh;
    }
    
    .iframes iframe {
        border-radius: 10px;
        border: 3px solid rgb(212,175,55);
        height: 100%;
        width: 70%;
    }

}


@media screen and (max-width: 600px){

    /* GALERIA */

    .photo_body {
        height: auto;
    }
    
    .photo_body h1, .video__body h1 {
        font-size: 2vh;
    }

    .banner {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner h1 {
        letter-spacing: 1vh;
    }

    .img__body{
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: auto;
        grid-template-areas:
            "foto1"
            "foto2"
            "foto3"
            "foto4"
            "foto5"
            "foto6"
            "foto7";
        justify-items: center;
        align-items: center;
        justify-content: center;
        row-gap: 1%;
        column-gap: 1%;
        height: 90%;
        width: 100%;
        padding-top: 5vh;
    }

    .img__body2{
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: auto;
        grid-template-areas:
            "foto1"
            "foto2"
            "foto3"
            "foto5"
            "foto6"
            "foto7";
        justify-items: center;
        align-items: center;
        justify-content: center;
        row-gap: 1%;
        column-gap: 1%;
        height: 90%;
        width: 100%;
        padding-top: 5vh;
    }
    
    .foto4 img {
        object-position: 0px;
    }

    .img__body article:hover, .img__body2 article:hover {
        box-shadow: none;
        transform: scale(1);
        overflow: hidden;
        z-index: 0;
    }


    .img__body img:hover, .img__body2 img:hover {
        transform: scale(1);
    }

    .iframes {
        padding: 6vh 4vw 0vh 4vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2vh;
        align-items: center;
        height: 70vh;
    }
    
    .iframes iframe {
        border-radius: 10px;
        border: 3px solid rgb(212,175,55);
        height: 100%;
        width: 100%;
    }

}