/* HEADER */

.nav {
    height: 9vh;
    width: 100%;
    background-color: rgba(18, 18, 18, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Montserrat";
    z-index: 1;
}

.nav > .nav-header {
    display: flex;
    flex-direction: row;
    width: 33.3%;
    height: 100%;
    float: left;
}

.nav > .nav-header > div {
    height: 100%;
    width: 30%;
}

.nav > .nav-header > div > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.nav > .nav-header > .nav-title {
    display: flex;
    flex-wrap: nowrap;
    color: #D4AF37;
    text-shadow: 1px 1px 4px black;
    font-size: 1.8vw;
    font-weight: 800;
    padding: 10px 10px 10px 10px;
    width: 70%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav > .nav-header > .nav-title > a {
    letter-spacing: 7px;
    font-family: 'Righteous', cursive;
}

.nav > .nav-header > .nav-title > a:hover {
    color:#75AADB;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 1.2vw;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    text-shadow: 1px 1px 4px goldenrod;
    color: #D4AF37;
}

.nav > #nav-check {
    display: none;
}

@media (max-width:600px) {
    .nav {
        background-color: rgba(18, 18, 18, 0.8);
    }

    .nav > .nav-header > .nav-title {
        font-size: 2.6vw;
    }

    .nav > .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 10%;
        height: 100%;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(212,175,55,0.3);
        border-radius: 25%;
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgba(18, 18, 18, 0.8);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 9vh;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 2.4vw;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(40vh - 9vh);
        overflow-y: auto;
    }

    .nav > .nav-header {
        width: 90%;
    }
}