@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Righteous&display=swap');
@import url('https://fonts.cdnfonts.com/css/qatar2022');                
@import 'keyframes', 'header', 'footer', 'variables';


/* JUGADORES */

.flip-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    height: 400px;
    width: 300px;
    perspective: 1000px;
    margin-bottom: 4vh;
    :hover {
        transition: transform 0.8s;
    }
}


.inner__bodycard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.jugadores__body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(../assets/images/others/FONDOS/fondocopa.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: bottom;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    animation: glowBox 1s ease-in-out infinite alternate;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    border: 3px solid #d4af37;
    display: flex;
    flex-direction: column;
    background-color: rgba(65, 2, 22, 0.7);
    h3 {
        font-size: 3.5vh;
        padding-top: 5%;
        @include text_style4;
    }
}

.flip-card-back {
    border: 3px solid #d4af37;
    transform: rotateY(180deg);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55% 45%;
    text-align: center;
    font-size: 1.5vh;    
}


.card__media{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(85,2,28,0.5);
    h5 {
        padding-top: 5%;
        @include text_style2;
    }
    .foto{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.card__info {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    grid-template-rows: auto repeat(5,1fr);
    justify-content: center;
    align-items: center;
    background-color: rgba(212,175,55,0.5);
    h5 {
        font-size: 15px;
        font-family: 'Qatar2022';
        letter-spacing: 2px;
    }    
}


.posicion {
    grid-column: 1 / 4;
    grid-row: 2;
    text-align: center;
    height: 100%;
    @include card__info__box;
}

.posicion_info {
    grid-column: 4 / 7;
    grid-row: 2;
    height: 100%;
    @include card__info__box;
}

.edad {
    grid-column: 1 / 3;
    grid-row: 3;
    height: 100%;
    @include card__info__box;
}

.edad_info {
    grid-column: 1 / 3;
    grid-row: 4;
    height: 100%;
    @include card__info__box;
}

.altura {
    grid-column: 5 / 7;
    grid-row: 3;
    height: 100%;
    @include card__info__box;
}

.altura_info {
    grid-column: 5 / 7;
    grid-row: 4;
    height: 100%;
    @include card__info__box;
}

.peso {
    grid-column: 3 / 5;
    grid-row: 3;
    height: 100%;
    @include card__info__box;
}

.peso_info {
    grid-column: 3 / 5;
    grid-row: 4;
    height: 100%;
    @include card__info__box;
}

.dorsal {
    grid-column: 1 / 7;
    grid-row: 5 / 7;
    height: 100%;
    @include card__info__box;
}

.number {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 15vh;
        @include text_style4;
    }
}

.arq {
    background-image: url(../assets/images/maincards/arq/dibuudes.png);
}

.arq:hover {
    background-image: url(../assets/images/maincards/arq/dibuu1.png);
}

.def {
    background-image: url(../assets/images/maincards/def/otaades.png);
}

.def:hover {
    background-image: url(../assets/images/maincards/def/otaa1.png);
}

.med {
    background-image: url(../assets/images/maincards/med/depauldes.png);
}

.med:hover {
    background-image: url(../assets/images/maincards/med/depaul1.png);
}

.del {
    background-image: url(../assets/images/maincards/del/toroo1.png);
}

.del:hover {
    background-image: url(../assets/images/maincards/del/toroo1.png);
}


.integrantes {
    position: relative; 
    border: 3px solid rgba(212,175,55,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 580px;
    width: 340px;
    background-size: cover;
    transition: all 0.6s linear 0s;
    background-repeat: no-repeat; 
    background-position-x: 50%;
    background-position-y: 70vh;
}

.maincards h1 {
    @include text_style2;
}

@media screen and (max-width: 600px){

    .maincards {
        margin: 0vh 0px 4vh 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        h1 {
            margin: 12vh 2vw 5vh 2vw;
            font-size: 4vh;
        }
    }
        
    .maincards__content {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 4vh;
    }
    
    .integrantes {
        border: 3px solid rgba(212,175,55,0.7);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 8vh;
        width: 70%;
        a {
            font-size: 3vh;
            font-family: "Montserrat";
            text-decoration: none;
            color: #D4AF37;
            text-shadow: 1px 1px 4px black;
            text-align: center;
        }
    }
    
    .bodycard h2 {
        font-size: 4vh;
        margin-bottom: 8vh;
        @include text_style4;
    }
    
}


@media screen and (min-width: 600px){

    .maincards {
        margin: 9vh 0px 4vh 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        h1 {
            margin: 5vh 0vw;
            font-size: 5vh;
        }
    }

    .maincards__content {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 4vh;
        flex-wrap: wrap;
    }

    body {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color:#121212;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .foto { 
        img {
            border: 2px solid #D4AF37;
            border-radius: 10%;
        }
    }

    .bodycard {
        display: flex;
        flex-direction: column;
        margin-top: 8vh;
        h2 {
            font-size: 4vh;
            margin-bottom: 8vh;
            @include text_style4;
        }
    }

    .inner__bodycard {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        column-gap: 3vw;
    }
    
    .integrantes {
        a {    
            font-family: "Montserrat", Sans-Serif;
            color: #D4AF37;
            font-size: 5vh;
            text-align: center;
            padding: 10px;
            text-orientation: upright;
            writing-mode: vertical-lr;
            font-weight: bold;
            transition: top 0.6s linear 0s, left 0.6s linear 0s;
            text-shadow: 1px 1px 2px black;
            position: absolute;
            left: 38%;
            top: 35%;
        }
    }

    .integrantes:hover {
        background-size: cover;
        background-position-y: 0px;
        border: 3px solid rgba(212,175,55,1);
        animation: glowBox 1s ease-in-out infinite alternate;
    }

    .integrantes:hover a {
        top: 1%;
        left: 1%;
        animation: shake 0.25s linear 0.7s, glowText 1s ease-in-out infinite alternate;
    }
}


@media screen and (min-width: 1000px) {

    .maincards {
        margin: 9vh 0px 4vh 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        h1 {
            margin: 5vh 0vw;
            font-size: 5vh;
        }
    }

    .maincards__content {
        display: flex;
        flex-direction: row;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 4vh;
    }

    body {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color:#121212;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .inner__bodycard {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .integrantes {
        a {    
            font-family: "Montserrat", Sans-Serif;
            color: #D4AF37;
            font-size: 5vh;
            text-align: center;
            padding: 10px;
            text-orientation: upright;
            writing-mode: vertical-lr;
            font-weight: bold;
            transition: top 0.6s linear 0s, left 0.6s linear 0s;
            text-shadow: 1px 1px 2px black;
            position: absolute;
            left: 38%;
            top: 35%;
        }
    }

    .integrantes:hover {
        background-size: cover;
        background-position-y: 0px;
        border: 3px solid rgba(212,175,55,1);
        animation: glowBox 1s ease-in-out infinite alternate;
    }

    .integrantes:hover a {
        top: 1%;
        left: 1%;
        animation: shake 0.25s linear 0.7s, glowText 1s ease-in-out infinite alternate;
    }
}
