@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior:smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh;
    background-color: rgba(18, 18, 18, 0.5);
    /* border-bottom: solid #D4AF37; */
    border-width: 4px;
    height: 9vh;
    width: 100%;
    opacity: 100%;
    position: fixed;
    z-index: 1;
}

p {
    color: white;
    font-family: "Montserrat", sans-serif;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.golden {
    color:#D4AF37;
}

/* Header y Footer styling */

.current {
    color: #D4AF37;
}

.logo {
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    text-shadow: 1px 1px 4px goldenrod;
    color: #D4AF37;
}

/* HOME */


.text__style1 {
    font-family: "Montserrat";
    text-align: center;
    text-shadow: 1px 1px 4px black;
}

.text__style2 {
    font-family: "Passions Conflict", cursive;
    text-align: center;
    text-shadow: 10px 10px 10px black;
    word-spacing: 2px;
    letter-spacing: 5px;
}

.text__style3 {
    font-family: "Kanit", cursive;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

.home__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 9vh;
    min-height: 75vh;
    height: auto;
    background-image: linear-gradient(rgba(12,12,12,0.2), rgba(12,12,12,1)), url(../assets/images/others/fondo6.png);
    background-size: cover;
    background-position-y: center;
}


.home__body h1 {
    margin-top: 70px;
    color: #D4AF37;
    font-size: 17vh;
    text-shadow: 1px 1px 4px black;
    letter-spacing: 10px;
}

.home__body h3 {
    bottom: 40px;
    margin-top: 20px;
    color: white;
    font-size: 50px;
    text-shadow: 0px 0px 10px black;
}

.home__body h5 {
    bottom: 40px;
    margin: 40px;
    color: #e6b000;
    font-size: 5.5vh;
}

.noticias {
    background-color: rgba(18, 18, 18);
    height: auto;
    padding: 7vh 7vw 7vh 7vw;
}

.section__title {
    text-align: start;
    color: #fff;
    font-size: 1.5vh;
    width: auto;
    padding-bottom: 2vh;
}

.noticias__articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.noticias__articles a {
    width: 19%;
    height: 100%;
}

.noticias__articles img {
    border-radius: 1vh;
    width: 100%;
    height: 18vh;
    object-fit: cover;    
    transition: all .5s;  
}

.home__multimedia {
    background-color: rgba(18, 18, 18);
    text-align: start;
    height: auto;
    padding: 2vh 7vw 7vh 7vw;
}

.mult__articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.mult__articles img:hover , .noticias__articles img:hover {
    transition: all .5s;
    transform: scale(1.05);
}

.mult__articles a {
    width: 32.5%;
    height: 100%;
}

.mult__articles img {
    border-radius: 1vh;
    width: 100%;
    height: 30vh;
    object-fit: cover;    
    transition: all .5s;
}

.mult__articles h5, .noticias__articles h5 {
    padding-top: 0.5vh;
}

.sponsors {
    height:30vh;
    width: 100%;
}

.sponsors div{
    height: 100%;
    width: 100%;
    background-color: #75AADB;
    padding: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.sponsors article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
}

.sponsors img {
    width: 70%;
}

.about__us {
    background-color: #121212;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4vw;
}

.about__us h1 {
    font-size: 8vh;
    color: #fff;
    padding-bottom: 3vh;
}

.about__us p {
    padding: 0vh 30vh 4vh 30vh;
    text-align: center;
}

/* HOME MOBILE */


@media screen and (min-width: 320px) and (max-width: 768px) {
    
    header {
        width: 100vw;
        overflow: hidden;
    }
    
    header li, a {
        font-size: 6px;
    }

    .home__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 9vh;
        min-height: 40vh;
        height: 40vh;
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url(../assets/images/others/fondo6.png);
        background-size: cover;
        background-position-x: center;
    }

    .home__body h1 {
        font-size: 5vh;
        margin-top: 0px;
        color: #D4AF37;
        text-shadow: 1px 1px 4px black;
        letter-spacing: 5px;
    }
    
    .home__body h3 {
        bottom: 40px;
        margin-top: 0px;
        padding-top: 20px;
        color: white;
        font-size: 3.5vh;
        text-shadow: 0px 0px 10px black;
    }
    
    .home__body h5 {
        color: #e6b000;
        margin: 0px;
        padding-top: 20px;
        font-size: 3vh;
        width: 80%;
    }

    /*esta seccion .noticias debe convertirse en un carousel con bootstrap  */

    .noticias {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3% 95%;
        padding: 5%;
        margin: 0;
        height: auto;
        max-width: 100%;
        width: 100%;
        gap: 2%;
    }

    .section__title {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 2vh;
    }

    .noticias__articles {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5,19%);
        gap: 1%;
        height: 100%;
    }

    .noticias__articles a, .mult__articles a {
        width: 100%;
        height: 100%;
    }

    .noticias__articles article, .mult__articles article {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 90% auto;
        width: 100%;
        height: 100%;
    }

    .noticias__articles img, .mult__articles img {
        height: 100%;
        object-fit: cover;
    }    

    .noticias__articles a h5, .mult__articles a h5 {
        font-size: 1.5vh;
    }

    .home__multimedia {
        margin: 0;
        padding: 5%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 3% 95%;
        gap: 2%;
        height: auto;
    }

    .mult__articles {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,1fr);
        height: auto;
        width: 100%;
        gap: 2%;
    }

    .sponsors {
        margin: 0;
        padding-top: 2vh;
        height: auto;
        width: 100%;
    }

    .sponsors div {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3,1fr);
        height: auto;
        background-color: #D4AF37;
    }

    .sponsors div article {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    .sponsors div article img {
        object-fit: cover;
    }

    .about__us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5vh;
    }

    .about__us h1 {
        font-size: 4vh;
        padding-bottom: 2vh;
        margin: 0;
    }

    .about__us p {
        padding: 3vh 0px 0px 0px;
        margin: 0;
    }
}

/* JUGADORES */


/* dropdown plantel */

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(12, 12, 12, 0.7);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 1.2vh 1.2vw;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgba(36, 32, 32, 0.1);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.jugadores__body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(../assets/images/others/partidoshero6.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: bottom;
}

.maincards {
    margin: 9vh 0px 4vh 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.maincards h1 {
    margin: 5vh 0vw;
    font-size: 5vh;
}

.maincards__content {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

.integrantes {
    position: relative; 
    border: 3px solid rgba(212,175,55,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 22%;
    background-size: cover;
    transition: all 0.6s linear 0s;
    background-repeat: no-repeat; 
    background-position-x: 50%;
    background-position-y: 70vh;
}

.integrantes a {    
    font-family: "Montserrat", Sans-Serif;
    color: #D4AF37;
    font-size: 5vh;
    text-align: center;
    padding: 10px;
    text-orientation: upright;
    writing-mode: vertical-lr;
    font-weight: bold;
    transition: top 0.6s linear 0s, left 0.6s linear 0s;
    text-shadow: 1px 1px 2px black;
    position: absolute;
    left: 40%;
    top: 35%;
}

.integrantes:hover {
    /* box-shadow: 0 0 10px 5px #fff, 0 0 10px 5px #D4AF37; */
    background-size: cover;
    background-position-y: 0px;
    border: 3px solid rgba(212,175,55,1);
    animation: glowBox 1s ease-in-out infinite alternate;
}

.integrantes:hover a {
    top: 1%;
    left: 1%;
    animation: shake 0.25s linear 0.7s, glowText 1s ease-in-out infinite alternate;
}

.integrantes a:hover {
    animation-play-state:paused;
}


@keyframes glowText {
    from {
        text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 5px #b4952f, 0 0 10px #b4952f, 0 0 15px #b4952f, 0 0 20px #b4952f, 0 0 25px #b4952f;
    }
    to {
        text-shadow: 0 0 7px #fff, 0 0 5px #D4AF37, 0 0 10px #D4AF37, 0 0 15px #D4AF37, 0 0 20px #D4AF37, 0 0 25px #D4AF37, 0 0 30px #D4AF37;
    }
}

@keyframes glowBox {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #b4952f, 0 0 10px #b4952f, 0 0 15px #b4952f, 0 0 20px #b4952f, 0 0 25px #b4952f;
    }
    to {
        box-shadow: 0 0 7px #fff, 0 0 5px #D4AF37, 0 0 10px #D4AF37, 0 0 15px #D4AF37, 0 0 20px #D4AF37, 0 0 25px #D4AF37, 0 0 30px #D4AF37;
    }
}

/* @keyframes moveTitle {
    0% { top: 30%; left: 40% }
    10% { top: 27%; left: 36% }
    20% { top: 24%; left: 32% }
    30% { top: 21%; left: 28% }
    40% { top: 18%; left: 24% }
    50% { top: 15%; left: 20% }
    60% { top: 12%; left: 16% }
    70% { top: 9%; left: 12% }
    80% { top: 6%; left: 8% }
    90% { top: 3%; left: 4% }
    100% { top: 1%; left: 1% }
} */

/* @keyframes moveTitleLeft {
    from {
        top: 30%; left: 40%;
    }
    to {
        top: 1%; left: 1%;
    }
}

@keyframes moveTitleCentre {
    from {
        top: 1%; left: 1%;
    }
    to {
        top: 50%; left: 50%;
    }
} */



/* main cards effects */

.arq {
    background-image: url(../assets/images/maincards/arq/dibuudes.png);
}

.arq:hover {
    background-image: url(../assets/images/maincards/arq/dibuu1.png);
}

.def {
    background-image: url(../assets/images/maincards/def/otaades.png);
}

.def:hover {
    background-image: url(../assets/images/maincards/def/otaa1.png);
}

.med {
    background-image: url(../assets/images/maincards/med/depauldes.png);
}

.med:hover {
    background-image: url(../assets/images/maincards/med/depaul1.png);
}

.del {
    background-image: url(../assets/images/maincards/del/toroodes.png);
}

.del:hover {
    background-image: url(../assets/images/maincards/del/toroo1.png);
}

body {
    /* background-image: url(images/others/fondo2.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#121212;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* .title {
    font-family: "Montserrat", Sans-Serif;
    text-align: center;
    margin: 20px;
    color: #D4AF37;
    font-size:xx-large;
}

.card {
    border: 3px solid #D4AF37;
    border-style: solid;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    height: 350px;
    width: 300px;
    background-size: 300px 350px; 
}

.card:hover{
    transition: all 0.7s ease 0s;
    display: block;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.9)), url(../assets/images/others/cardhover1.jpg);
    animation: glowBox 1s ease-in-out infinite alternate;
    /*overflow-y: scroll;
}
*/

/* .card:hover h2 {
    opacity: 1;
    transition: all 0.7s ease 0s;
}

.card h2 {
    opacity: 0;
    float:left;
    width: 100%;
    padding: 20px;
    font-family: "Montserrat", Sans-Serif;
    text-align: center;
    color: #D4AF37;
    text-shadow: 1px 1px 4px black;
}

.card:hover a{
    display: none;
} */
/* 

.nombre {
    font-family: "Montserrat", Sans-Serif;
    text-align: center;
    color: #D4AF37;
    font-size: 3.5vh;
    padding-top: 10px;
    text-orientation:sideways;
    writing-mode: vertical-lr;
    width: auto;
    text-shadow: 1px 1px 2px black;
}

.numero {
    font-size: 8vh;
} */

.flip-card {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    height: 45vh;
    width: 20vw;
    background-size: 300px 350px; 
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    animation: glowBox 1s ease-in-out infinite alternate;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    border: 3px solid #d4af37;
    display: flex;
    flex-direction: column;
}

.flip-card-front h1 {
    font-size: 3.5vh;
    padding-top: 5%;
}

.flip-card-back {
    border: 3px solid #d4af37;
    transform: rotateY(180deg);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto repeat(4,1fr);
    grid-template-areas:
        "nombre nombre"
        "foto edad"
        "foto club"
        "foto peso-altura"
        "pos dorsal";
    text-align: center;
    font-size: 1.5vh;    
}

.number {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15vh;
}

.arquero {
    background-image: linear-gradient(rgba(12,12,12,0.5),rgba(12,12,12,0.3)),url(../assets/images/others/arqueroicono.png);
    background-size: cover;
}
/* 
.defensa {

} */

.nombre {
    grid-area: nombre;
    padding-top: 4%;
}

.club {
    grid-area: club;
}

.peso {
    grid-area: peso;
}

.altura {
    grid-area: altura;
}

.pos {
    grid-area: pos;
}

.edad {
    grid-area: edad;
    padding-top: 15%;
    text-align: center;
}

.foto {
    grid-area: foto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5%;
    border-radius: 10%;

}

.foto img {
    border: 2px solid #D4AF37;
    border-radius: 10%;
}



/* 
.dmartinez{
    background-image: linear-gradient(rgba(12,12,12,0.5),rgba(12,12,12,0.3)),url('https://mirror0.cdn.net.ar/mirror0/mirror0/images/02/32/23275_9e0f2e7ff43224fe232728e02336b27a237bff633d1171278d7eea4a87dfd491/lg.webp');
    background-size: cover;
    background-position-x: center;
} */

/* 
.armani{
    background-image: linear-gradient(rgba(12,12,12,0.5),rgba(12,12,12,0.3)),url('https://www.elcolombiano.com/documents/10157/0/843x562/0c0/0d0/none/11101/GOHP/image_content_33664260_20190620095835.jpg');
    background-size: cover;
    background-position-x: center;
} */


/* .musso{
    background-image: linear-gradient(rgba(12,12,12,0.5),rgba(12,12,12,0.3)),url('https://sc2.elpais.com.uy/files/article_default_content/uploads/2022/02/03/61fbd4bb270e0.jpeg');
    background-size: cover;
    background-position-x: center;
} */

.tagliafico {
    background-image: url(../assets/images/cards/def/tagliaficow.jpg);
}

.molina {
    background-image: url(../assets/images/cards/def/molinaw.png);
}

.pezzella {
    background-image: url(../assets/images/cards/def/pezzellaw.png);
}

.romero {
    background-image: url(../assets/images/cards/def/romerow.png);
}

.otamendi {
    background-image: url(../assets/images/cards/def/otamendiw.png);
}

.lisandromartinez {
    background-image: url(../assets/images/cards/def/lmartinezw.jpg.png);
}

.acunia {
    background-image: url(../assets/images/cards/def/acuniaw.png);
}

.montiel {
    background-image: url(../assets/images/cards/def/montielw.png);
}

.mquarta {
    background-image: url(../assets/images/cards/def/mquartaw.png);
}

.bodycard {
    display: flex;
    flex-direction: column;
    margin-top: 8vh;
}

.bodycard h2 {
    font-size: 4vh;
    margin-bottom: 8vh;
}

.inner__bodycard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* PARTIDOS */

/* 
.partidos__body {
    /* background-image: url(../assets/images/others/fondo9.jpg);
    background-attachment: fixed;
    background-size:cover;
    resize: horizontal; */


.partidos__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 70px;
    height: 630px;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)), url(../assets/images/others/partidoshero4.jpg);
    background-size: cover;
    background-position-y: center;
}

.partidos__hero h1 {
    font-size: xx-large;
    margin-top: 70px;
    color: #D4AF37;
    font-size: 150px;
    text-shadow: 1px 1px 4px black;
    letter-spacing: 10px;
}

.partidos__hero h3 {
    font-size: xx-large;
    bottom: 40px;
    margin-top: 20px;
    color: white;
    font-size: 50px;
    text-shadow: 0px 0px 10px black;
}

.qatar2022 {
    color: rgba(85,2,28,1);
}

.amistoso {
    color: #75aadb;
}

.partidos__table {
    height: auto;
    width: 100%;
    padding: 60px 80px 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.partidos__table2 {
    height: 1200px;
    width: 100%;
    padding: 60px 80px 40px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partidos__table h1 {
    font-size: 40px;
    color: white;
    margin: 30px 0px;
}

.partidos__table table {
    margin-top: 25px;
    height: 100%;
    width: 100%;
    /* border: 2px solid #D4AF37; */
    text-align: center;
    font-size: x-large;
    color: white;
}

.partidos__table table th {
    color: #D4AF37;
}

.partidos__table table img {
    width: 10%;
    height: 10%;
}


.victoria {
    color: green;
}

/* PAGINA GALERIA DE FOTOS*/


.galeria__body {
    /* background-color: #121212; */
    /* background-image: url(../assets/images/others/partidoshero1.jpg); */
    /* background-attachment: fixed;
    background-size:cover; */
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)), url(../assets/images/others/partidoshero6.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position-y: bottom;
}

.banner {
    background-color: rgba(14,33,103,0.5);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 4px solid rgb(212,175,55,0.7);
    border-right: 4px solid rgb(212,175,55,0.7);
    padding: 2vh 0vw;
}

.banner h1 {
    letter-spacing: 3.5vh;
}

.photo_body {
    padding: 10vh 5vw 4vh 5vw;
    height: 100vh;
}

.photo_body h1 {
    color: #D4AF37;
    font-size: 4vh;
}


.img__body{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "foto1 foto1 foto2 foto3 foto4"
        "foto5 foto6 foto6 foto7 foto4";
    justify-items: center;
    align-items: center;
    justify-content: center;
    row-gap: 2%;
    column-gap: 1%;
    height: 90%;
    width: 100%;
    padding-top: 5vh;
}

.foto1 {
    grid-area: foto1;
}


.foto2 {
    grid-area: foto2;
}

.foto3 {
    grid-area: foto3;
}

.foto4 {
    grid-area: foto4;
}

.foto4 img {
    object-position: -180px;
}

.foto5 {
    grid-area: foto5;
}

.foto6 {
    grid-area: foto6;
}

.foto7 {
    grid-area: foto7;
}

.img__body2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "foto1 foto2 foto2 foto2 foto3"
        "foto7 foto7 foto5 foto6 foto6";
    justify-items: center;
    align-items: center;
    justify-content: center;
    row-gap: 2%;
    column-gap: 1%;
    height: 90%;
    width: 100%;
    padding-top: 5vh;
}


.img__body article, .img__body2 article {
    border: 3px solid rgb(212,175,55,0.7);
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    margin: 5px;
    overflow: hidden;
}

.img__body article:hover, .img__body2 article:hover {
    box-shadow: 4px 4px 4px grey;
    transform: scale(1.03);
    overflow: hidden;
    z-index: 0;
}


.img__body img, .img__body2 img {
    transition: all 0.5s ease 0s;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img__body img:hover, .img__body2 img:hover {
    transform: scale(1.09);
}

.video__body {
    padding: 4vh 5vw 4vh 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video__body h1 {
    color: #D4AF37;
    font-size: 4vh;
}

.iframes {
    padding: 6vh 4vw 0vh 4vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vh;
    align-items: center;
    height: 50vh;
}

.iframes iframe {
    border-radius: 10px;
    border: 3px solid rgb(212,175,55,0.5);
    height: 100%;
    width: 80%;
}

/* PAGINA CONTACTO */

form {
    display: block;
}

.contacto__body {
    background-image: url(../assets/images/others/fondo4.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.contacto {
    display: flex;
    margin: 100px 30px 30px 30px;
}

.contact__block {
    float: left;
    width: 60%;
    border: 3px solid #D4AF37;
    border-radius: 15px;
    box-sizing: border-box;
    height: 600px;
            
}

.user__form {
    padding: 10px;
    width: 50%;
}

.email__form {
    padding: 10px;
    width: 100%;
}


.contact__block:hover {
    box-shadow: 
    0 0 10px 5px #fff,
    0 0 10px 5px #D4AF37;  /* inner white */
    transition: all 0.5s ease 0s;   
}

.contact__block h1 {
    font-family: "Montserrat", sans-serif;
    color: #D4AF37;
    padding: 17px 30px 20px 30px;
    font-size: 40px;
    letter-spacing: 10px;
    word-wrap: break-word;
}

.contact__divider {
    border: 2px solid #D4AF37;
    margin: 0px 30px;
}

.contact__text {
    float: left;
    width: 40%;
    padding: 20px;
    padding-right: 50px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.contact__text h1 {
    padding-bottom: 30px;
    color: #D4AF37;
}

.contact__text p {
    padding-bottom: 15px;
}

.contact__text label {
    padding-bottom: 30px;
    color: white;
}

.user__data {
    display: flex;
    padding: 30px;
    text-align: center;
}

.user__data input {
    display: flex;
    font-family: "Montserrat", sans-serif;
    border: 2.5px solid #D4AF37;
    border-radius: 4px;
    padding: 10px;
    font-size: 25px;
}

.user__data input[type="email"] {
    width: 100%;
    height: 45px;
    padding-right: 0px;
}


.user__data input[type="text"] {
    width: 100%;
    height: 45px;
}

.consultas {
    margin: 0 40px 40px;
    height: 250px;
}

.consultas textarea {    
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
    font-size: 25px;
    border: 2.5px solid #D4AF37;
    border-radius: 4px;
    resize: none;
    padding: 10px;    
}

.contact__btn {
    padding: 9px 25px;
    margin-left: 40px;
    background-color: rgba(85,2,28,0.9);
    border: 2px solid #D4AF37;
    border-radius: 10px;
    color: #D4AF37;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 5px;    
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact__btn:hover {
    text-shadow: #D4AF37;
    background-color: rgba(85,2,28,0.5);
    border: 2px solid #D4AF37;
}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #121212;
    border-top: solid #D4AF37;
    border-width: 4px;
    height: 60px;
    margin-top: auto;
}


.fa:hover {
    opacity: 0.7;
    color: #D4AF37;
}

footer a:hover {
    animation: shake 0.25s;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/* @keyframes shiningWord {
    0% { text-shadow: 0px 0px 0px #e6b000, 0px 0px 1px white; }
    10% { text-shadow: 0px 0px 1px #e6b000, 0px 0px 2px white; }
    20% { text-shadow: 0px 0px 2px #e6b000, 0px 0px 3px white; }
    30% { text-shadow: 0px 0px 3px #e6b000, 0px 0px 4px white; }
    40% { text-shadow: 0px 0px 4px #e6b000, 0px 0px 5px white; }
    50% { text-shadow: 0px 0px 5px #e6b000, 0px 0px 4px white;}
    60% { text-shadow: 0px 0px 2px #e6b000, 0px 0px 3px white; }
    70% { text-shadow: 0px 0px 3px #e6b000, 0px 0px 2px white; }
    80% { text-shadow: 0px 0px 4px #e6b000, 0px 0px 1px white; }
    90% { text-shadow: 0px 0px 3px #e6b000, 0px 0px 2px white;}
    100% { text-shadow: 0px 0px 2px #e6b000, 0px 0px 3px white; }
}

@keyframes shiningBox {
    0% { box-shadow: 0px 0px 0px #e6b000, 0px 0px 2px white; }
    10% { box-shadow: 0px 0px 2px #e6b000, 0px 0px 4px white; }
    20% { box-shadow: 0px 0px 4px #e6b000, 0px 0px 6px white; }
    30% { box-shadow: 0px 0px 6px #e6b000, 0px 0px 8px white; }
    40% { box-shadow: 0px 0px 8px #e6b000, 0px 0px 10px white; }
    50% { box-shadow: 0px 0px 10px #e6b000, 0px 0px 12px white;}
    60% { box-shadow: 0px 0px 8px #e6b000, 0px 0px 10px white; }
    70% { box-shadow: 0px 0px 6px #e6b000, 0px 0px 8px white; }
    80% { box-shadow: 0px 0px 4px #e6b000, 0px 0px 6px white; }
    90% { box-shadow: 0px 0px 2px #e6b000, 0px 0px 4px white;}
    100% { box-shadow: 0px 0px 0px #e6b000, 0px 0px 2px white; }
} */



/*  */

